.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  justify-content: flex-start;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: flex;
  justify-content: center;
  width: 136px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;
  max-width: 240px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.3;
}

.address-item {
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 165px 50px 50px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  font-size: 100px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.aligned-text {
  display: block;
  color: white;
  text-transform: uppercase;
  letter-spacing: 30px;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  padding-top: 103px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.cover__description-text {
  color: white;
  font-size: 22px;
  word-spacing: 18px;
  line-height: 1;
}

.bet-button {
  background-color: transparent;
  color: white;
  border: 1px solid currentColor;
  text-transform: uppercase;
  font-size: 22px;
  padding: 12px 32px;
  line-height: 1.3;
  cursor: pointer;
}

.lots {
  padding: 180px 24px 120px;
}

.lots_cards-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 25px;
}

.lots__card-list-item {
  list-style: none;
}

.card {
  position: relative;
  width: 334px;
  min-height: 596px;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 40px;
}

.card__title {
  text-transform: uppercase;
  font-size: 22px;
  text-decoration: underline;
  z-index: 1;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
  z-index: 1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: block;
  margin: 30px 40px;
  font-size: 20px;
  width: fit-content;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 0 24px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
  justify-self: center;
  margin-left: 33px;
  margin-top: 5px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column-text {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-top: 104px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.footer {
  padding: 185px 50px 82px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer .address {
  justify-self: start;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-self: end;
}

.footer__social-list-item {
  width: 48px;
}

.footer__menu {
  justify-self: center;
}

.footer__links-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__menu-link {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}
